.footer {
    .footer-nav {
        @media(max-width: $mediaS){
            flex-direction: column;
        }
        .menu {
            list-style: none;
            .menu-item {
                list-style: none;

                a {
                    color: var(--white);
                }
            }
        }
    }

}
