#block-kite-content .view-frontpage {
  font-size: var(--font-26);
  margin: 50px 0;
  font-family: "Roboto";
}

//footer

#footer {
  background: var(--black);
  color: var(--white);
  padding: 70px;
  display: block;
  width: 100%;
  z-index: 0;
}
@media (max-width: $mediaS) {
  #footer {
    padding: 45px;
  }
}

.contextual-region {
  font-size: var(--font-26);
}
@media (max-width: $mediaS) {
  .contextual-region {
    font-size: var(--font-20);
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}
@media (max-width: $mediaS) {
  .footer-bottom {
    flex-direction: column;
  }
}
.social-icons {
  font-size: var(--font-26);
}

.icons a {
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-size: 100% 200%;
  background-position: 0% 5%;
  transition: background-position 0.5s, color 0.5s;
}

.icons a:nth-child(1) {
  color: #1976d3;
  background-image: linear-gradient(#fff 50%, #1976d3 50%);
}

.icons a:nth-child(2) {
  color: #db6f44;
  background-image: linear-gradient(#fff 50%, #db6f44 50%);
}

.icons a:nth-child(3) {
  color: #000;
  background-image: linear-gradient(#fff 50%, #000 50%);
}

.icons a:nth-child(4) {
  color: #03a9f5;
  background-image: linear-gradient(#fff 50%, #03a9f5 50%);
}

.icons a:hover {
  background-position: 0% 100%;
  color: #fff;
}

.fa-brands {
  margin-right: 8px;
  font-size: var(--font-20);
}
.container {
  max-width: 1500px;
}
.view-content .views-field-info {
  padding: 15px 0;
}
.cols-4 {
  width: 100%;
}
tbody tr {
  border-bottom: var(--border-grey);
}

#slider {
  position: relative;
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  background-image: url("../images/kite.png");
  background-image: url("../../kite/images/kite.png");
  background-repeat: no-repeat;
  background-position: 0 10%;
  background-size: cover;
  overflow: hidden;
  z-index: 2;
}

@media (max-width: $mediaS) {
  #slider {
    background-position: right;
  }
}
