<section id="last-section" class="section"></section>
<!-- Start: Footer -->
<footer id="footer">
  <div class="footer">
    <div class="container">
    <div class="footer-nav row row-cols-md-4">
      {% if page.footer_top %}
        <section class="footer-top col-2">
          {{ page.footer_top }}
        </section>
      {% endif %}<!-- /footer-top -->
      {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
       
        {% if page.footer_first %}
          <div class="footer-block footer_first col-2">
            {{ page.footer_first }}
          </div>
        {% endif %}<!--/footer-first -->
        {% if page.footer_second %}
          <div class="footer-block footer_second col-2">
            {{ page.footer_second }}
          </div>
        {% endif %}<!--/footer-second -->
        {% if page.footer_third %}
          <div class="footer-block footer_third col-2">
            {{ page.footer_third }}
          </div>
        {% endif %}<!--/footer-third -->
        {% if page.footer_fourth %}
          <div class="footer-block footer_fourth col-2">
            {{ page.footer_fourth }}
          </div>
        {% endif %}<!--/footer-fourth -->
       
     {% endif %} {# end if for footer one, two, three, four blocks #}
     {% if copyright_text or all_icons_show %}
      <section class="footer-bottom-middle">
        {% if copyright_text %}
          <div class="copyright">
            &copy; {{ "now"|date("Y") }} {{ site_name }}, All rights reserved.
          </div>
        {% endif %} <!-- end if for copyright -->
      </section><!-- /footer-bottom-middle -->
     {% endif %} <!-- end condition if copyright or social icons -->
     {% if page.footer_bottom %}
       <div class="footer-bottom col-2">
         {{ page.footer_bottom }}
   
    <!--/.footer-bottom -->
     </div>
            <div class="icons">
        <a href="">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="">
          <i class="fab fa-github"></i>
        </a>
        <a href="">
          <i class="fab fa-twitter"></i>
        </a>
</div>
     {% endif %} <!-- end condition for footer_bottom -->
    </div><!-- /.container -->
  </div> <!--/.footer -->
</footer>
{% if scrolltotop_on %}
  <div class="scrolltop"></div>
{% endif %}
<!-- End: Footer -->
