{{ attach_library('kite/slider') }}
{% if slider_img_path %}
  <section id="slider" style="background-image: url('{{ slider_img_path }}')">
    <div class="fluid-container">
    </div>
  </section>
{% endif %}
