{#
/**
 * @file
 * Theme override to display main menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
{# #}
{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('main-menu') }}>
    {% else %}
      <ul class="submenu">
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          'main-menu-item',
          item.is_expanded ? 'expanded',
          item.is_collapsed ? 'collapsed',
          item.in_active_trail ? 'active',
        ]
      %}
      {% if menu_level == 0 and item.is_collapsed %}
        <li  {{ item.attributes.addClass(item_classes) }}>
        <a href="{{ item.url }}">{{ item.title }} <span class="dropdown-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
      {% elseif menu_level == 0 and item.is_expanded %}
        <li {{ item.attributes.addClass(item_classes) }}>
        <a href="{{ item.url }}">{{ item.title }} <span class="dropdown-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
      {% else %}
        <li{{ item.attributes.addClass(item_classes) }}>
        {{ link(item.title, item.url) }}
      {% endif %}
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1 ) }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}  
